*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color:  rgba(0, 0, 0, 0);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav{
   color: white;
}

.hdng{
    text-align: left;
    margin-left: 1rem;
}

.header{
    padding: 8px;
    background-color:#343a40!important;
    color: whitesmoke;
    text-align: right;
}

.home{
    color: grey;
    text-decoration: none;
}

.first{
    color: white;
    text-decoration: none;
}

.home:hover{
    color: white;
}

.abt{
    position: absolute;
    top:5%;
    left:60%;
    transform: translate(-50%-50%);
}

.cntct{
    position: absolute;
    top:5%;
    left: 68%;
    transform: translate(-50%-50%);
}

.pay{
    position: absolute;
    top:68%;
    left: 66%;
    transform: translate(-50%-50%);
}

.logo img{
    float: left;
    width:100px;
    height:100px ;
    margin-top: 10px;
    margin-left: 15px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    font-family: 'Yeseva One';
    position: absolute;
    top:20%;
    left: 52%;
    transform: translate(-50%-50%);
}

.title h1{
    color: black;
    font-size:70px;
}

.slogan{
    position: absolute;
    background-color: rgba(114, 213, 238, 0.828);
    border-radius: 10px;
    top: 90%;
    left: 23%;
    transform: translateX(-50%);
}
.slogan label{
    color: black;
    font-weight: 600;
}
.slogan label span{
    color: orangered;
}

.button{
    position: absolute;
    left: 52%;
    top:78%;
    transform: translate(-50%-50%);
}

.btn{
    border: 3px solid  black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: black;
    color: white;
    transition: 0.6s ease;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 70%!important;
}

.paragraph{
    position: absolute;
    color: black;
    left: 52%;
    top:35%;
    font-size: 15px;
    margin-right: 2rem;
}

footer{
   background-color:#343a40!important;
   color: whitesmoke;
   text-align: center;
}

footer.py2{
   margin-bottom: 3rem;
}